<h1 style="text-align: center">Minimalistic insta feed by demash</h1>
<div class="wrapper">
    <form class="uploads" method="POST" action="/photo/store" enctype="multipart/form-data">
        <%= token_tag %> 
        <div style="margin-left: 5px;">
            <input type="file" name="image">
        </div>
        <div class="form-group">
            <label for="caption">Insert caption</label>
            <input type="text" name="caption">
        </div>
        <div>
            <input type="submit" value="Upload">
        </div>
    </form>
    <div class="images" id="photo_section">
        <% @photos.each do |photo| %>
            <div class="photo">
                <div>
                    <a href="/photo/<%= photo.id %>">
                        <img class="photo-image" src="<%= photo.link %>">
                    </a>
                </div>
                <p class="photo-caption"><%= photo.caption %></p>
                <form style="padding-bottom: 10px" class="deletes" method="POST" action="/photo/delete" enctype="multipart/form-data">
                  <%= token_tag %> 
                  <input type="hidden" name="id" value="<%= photo.id %>">
                  <input type="hidden" name="link" value="<%= photo.link%>">
                  <input type="submit" value="Delete">
                </form>
            </div>
        <% end %>
    </div>
</div>