<div class="container">
	<% provide(:title, @user.name) %>
	<h1 class="user-page" style="text-align: center">
	  <%= gravatar_for @user %>
	  <%= @user.name %>
    <div class="stats">
      <%= render 'shared/stats' %>
    </div>
	</h1>
  <%= will_paginate @photos %>
  <ul class="photos">
    <%= render 'follow_form' if logged_in? %>
    <% @photos.each do |photo| %>
    <li>
      <% user = User.find(photo.user_id)%>
      <div class="photo">
        <div class="media postheader" style="text-align: center">
          <div class="media-body">
            <h3 class="media-heading"><%= user.name %> posted this</h3>
            <h3 class="media-heading">at <%= photo.created_at.strftime("%Y/%m/%d %H:%M") %></h3>
          </div>
        </div>
        <a href="/photos/<%= photo.id %>">
        <img class="photo-image" src="<%= photo.link %>">
        </a>
        <p class="photo-caption"><%= photo.caption %></p>
        <% if logged_in? && current_user?(user) %>
        <p class="photo-caption">
          <%= link_to "delete", photo, method: :delete,
            data: { confirm: "Delete this photo? You sure?" } %>
        </p>
        <hr>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
  <%= will_paginate @photos %>
</div>