<header">
  <div class="container">
    <h2><%= link_to "Photo feed", root_path, class: "logo" %></h2>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", '#' %></li>
          <li>
            <%= token_tag %>
            <%= link_to "Log out", logout_path, method: :delete %>
          </li>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>